.iphone-container {
  background: linear-gradient(#4997dc, #4e61c0);
  width: 100%;
  height: 420px;
  padding: 50px 50px 0px;
  display: flex;
  justify-content: space-around;
}

.iphone-descript {
  width: 420px;
  min-width: 420px;
  height: 240px;
  min-height: 240px;
  color: white;
  overflow: auto;
}
.iphone-descript * {
  margin-top: 20px;
}

button {
  background-color: #444445;
  color: white;
  border: none;
  height: 40px;
  padding: 0px 14px;
  border-radius: 6px;
  transition: all 1s;
}

button:hover {
  background-color: #071f45;
}

.iphone-container img {
  width: 300px;
  object-fit: contain;
  align-self: flex-end;
}

.portfolio-container {
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-container * {
  margin: 6px 0px;
}

.service-container {
  width: 100%;
  height: 300px;
  padding: 30px 0px;
  background-color: #4e61c0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-container h3 {
  margin-bottom: 30px;
}
.service-list {
  display: flex;
  justify-content: center;
}
.service-item {
  width: 150px;
  min-width: 150px;
  text-align: center;
  margin: 0px 30px;
}
.service-item * {
  margin-bottom: 10px;
}
.service-item i {
  background-color: white;
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 50px;
  padding-top: 24px;
}

.portbody-title {
  width: 100%;
  height: 120px;
  padding-top: 40px;
  text-align: center;
  background-color: #eee;
}
.portbody-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portbody-body {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.portbody-item {
  flex: 1 1 50%;
  position: relative;
}
.portbody-item img {
  width: 100%;
  display: block;
}
.portbody-item > div {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 50px;
  width: 100%;
  box-sizing: border-box;
}
.portbody-item > div * {
  margin-bottom: 20px;
}

.portbody-canvars {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0px solid white;
  transition: all 1s;
}

.portbody-item:hover .portbody-canvars {
  border: 30px solid;
}

.portbody-sns {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.portbody-sns i {
  background-color: #4e61c0;
  color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 12px;
  border-radius: 50px;
  margin: 0px 12px;
}

@media screen and (max-width: 576px) {
  .iphone-container {
    flex-direction: column;
    height: 600px;
    justify-content: end;
    align-items: center;
  }
  .iphone-container img,
  .iphone-container .iphone-descript {
    align-self: center;
    text-align: center;
  }
}
