.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  grid-template-areas:
    "menu menu menu menu"
    "side body body body"
    "side body body body";
}
.gird-menu {
  grid-area: menu;
}
.grid-side {
  grid-area: side;
}
.grid-content {
  grid-area: body;
}
.grid-container div {
  border: 1px solid black;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-container2 div {
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
}
.bigimg {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.grid-container2 div img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-areas:
      "menu menu menu menu"
      "side side side side"
      "body body body body";
    grid-template-rows: 100px 100px 400px;
  }
  .grid-container2 div {
    grid-column: 1 / 4;
  }
}
