@font-face {
  font-family: "NanumSquare";
  src: url("../../font/NanumSquareR.woff");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 800;
  src: url("../../font/NanumSquareB.woff");
}
body {
  margin: 0px;
  font-family: "NanumSquare";
  font-weight: 800;
  background-color: #f7f9fc;
}
.white-box {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 2px 1px #eee;
  background-color: white;
}
.text-sky {
  color: #70b9f7;
}
.sky-btn {
  background-color: #70b9f7;
  color: white;
  padding: 10px 24px 4px;
  border-radius: 4px;
  border: none;
}
.sky-btn:hover {
  background-color: #6fb2ec;
}
.sky-btn:active {
  background-color: #6ca8dd;
}

.user-contact {
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}
.user-img {
  width: 160px;
}

/* @media screen and (min-width: 576px) {
  .container {
    min-width: 1200px;
  }
} */
